/* Reset CSS */

/* Desktop version */
.container {
  margin: 0 auto;
  width: 1400px;
  height: 3006px;
  flex-shrink: 0;
  background-color: black;

}
/* Mobile version */
  @media (max-width: 480px) {
    .container {
      max-width: 100%;
      padding: 0 10px;
    }
  }

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
  
    /* Header styles */
header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: black;
  margin-bottom: 200px;
  }

.logo {
  width: 1000.392px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
    width: 161px;
    height: 32px;
    flex-shrink: 0;
}

.nav-bar {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0;
    list-style: none;
    text-align: center;
}

.nav-item {
    text-decoration:#FFF;
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    display: inline-block;
    margin: 0 2rem 0 0;
}

.nav .nav-link {
    display: block;
    padding: 0.5rem 0;
    position: relative;
}

.nav .nav-link:hover {
    color: #ff0000;
    text-decoration: none;
}
.hero {
    flex-shrink: 1;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    flex-shrink: 0;
    background-color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 313px;
    flex-shrink: 0;
}
.main-part {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-part-1 {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-part-2 {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.button-bg {
    text-transform: uppercase;
    width: 162px;
    height: 44px;
    flex-shrink: 0;
    border: none;
    border-radius: 22px;
    background: #FF6565;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.button-bg:hover,
.button-bg:active {
  opacity: 0.9;
}
.hero .main-part-2 {
    width: 637px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
