/* Reset CSS */
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D8D8D8;
  }
.container {
    width: 1400px;
    height: 800px;
    flex-shrink: 0;
  }
  
    /* Header styles */
header {
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #D8D8D8;
  }

.logo {
    width: 161px;
    height: 32px;
    flex-shrink: 0;
}
.logo img {
    width: 161px;
    height: 32px;
    flex-shrink: 0;
}
  .menu {
    display: inline-flex;
    height: 15px;
    justify-content: center;
    align-items: flex-start;
    gap: 41px;
    flex-shrink: 0;;
}
.nav-bar {
    display: inline-block;
    flex-direction: column;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
  
.nav {
display: flex;
flex-direction: row;
margin: 0;
padding: 0;
list-style: none;
text-align: center;
}

.nav .nav-item {
    text-decoration: none;
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    display: inline-block;
    margin: 0 2rem 0 0;
}

.nav .nav-link {
    display: block;
    padding: 0.5rem 0;
    position: relative;
}

.nav .nav-link:hover {
    color: #ff0000;
    text-decoration: none;
}
.hero {
    width: 637px;
    height: 313px;
    flex-shrink: 1;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
}
.hero .main-part {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    align-items: center;
}

.hero .main-part-1 {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero .main-part-2 {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.hero .button-bg {
    text-transform: uppercase;
    width: 162px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 22px;
    background: #FF6565;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.hero .main-part-2 {
    width: 637px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
